# Ignore binary files
*.exe
*.out
*.o
*.obj
*.so
*.a
*.dll

# Ignore build folders
/build/
/bin/
/Debug/
/Release/

# Ignore CMake build files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Ignore Visual Studio Code settings
.vscode/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore backup files
*~
*.swp
*.bak

# Ignore log files
*.log

# Ignore Code Runner temporary files
code-runner-output
*.code-runner*

